#sel                
    = require("./menu.jade")()
    block body
        
main.    
    exports.update = function(){
        history.replaceState(this.propsm,undefined,location.pathname);
        this.forceUpdate();
    }
    
