#sel                
    = require("./menu.jade")()
    block body
        
main.    
    exports.update = function(){
        console.log("replacing state",this.props);
        history.replaceState(this.props,undefined,location.pathname);
        this.forceUpdate();
    }
    
