#sel
    //
        Menu
        div(style="padding-top:60px")
        if this.needsLogin()
            - console.log(this)
            LoginPage(onLogin=this.update)
        else

            block body
script.
    /*
    var Menu = require("./menu.jade")
    var client = require("../client.js");
    var LoginPage = require("./loginpage.jade");
    
    exports.update = function(){
        history.replaceState(this.props,undefined,location.pathname);
        this.forceUpdate();
    }
    
    exports.needsLogin = function(){
        var needed = this.getNeededPermissions();
        if(needed && !client.session) return true;
        for(var i = 0; i < needed.length; i++){
            if(!client.hasPermission(needed[i])) return true;
        }
        return false;
    }
    
    exports.getNeededPermissions = function(){
        return [];
    }*/
