Modal
    .modal-header
        h2=this.props.title
    .modal-body= "Sind sie sicher, dass sie "+this.props.question+"?"
    .modal-footer
        button.btn.btn-default(onClick=this.answer.bind(this,false)) Abbrechen
        button.btn.btn-primary(onClick=this.answer.bind(this,true))= this.props.action
script.
    var Modal = require("./Modal.jade");
script(section="body").
    answer(yes){
        if(this.props.onAnswer){
            this.props.onAnswer(yes);
        }else if(yes){
            this.props.onConfirm();
        }else{
            this.props.onCancel();
        }
    }
