ul.nav.navbar-nav
    each name,link in menu
        li(className=isActive(link)?"active":"")
            a(href=link)= name
main.
    var menu = {
        "/equipment":"Equipment",
        "/users":"Benutzer"
    };
    
    function isActive(path){
        console.log(location.pathname);
        return (location.pathname.indexOf(path) == 0)?"active":"";
    }
