Navbar(fixedTop)
	Header
		Brand
			a(href="/")
				img(src="/public/logo.png")
		Toggle
		if client.session
			.session
				| Eingeloggt als
				b= " "+client.session.user.firstname+" "+client.session.user.lastname
				br
				.btn.btn-danger.pull-right(onClick=this.logout.bind(this))
					.glyphicon.glyphicon-log-out
					|  Ausloggen
	Collapse
		= this.create()
script.
	var Navbar = require("react-bootstrap/lib/Navbar");
	var {Collapse,Toggle,Brand,Header} = Navbar;
	var react = require("react");
	var Nav = react.createFactory(require("react-bootstrap/lib/Nav"));
	var Button = require("react-bootstrap/lib/Button");
	var client = require("../client.js");
	
	var menu = exports.menu = {
		"Equipment":{url:"/equipment",permissions:["equipment_read"]},
		"Projekte":{url:"/projects",permissions:["projects_read"]},
		"Zumieten":{url:"/rentals",permissions:["rentals_read"]},
		"Kunden":{url:"/customers",permissions:["customers_read"]},
		"Zulieferer":{url:"/suppliers",permissions:["suppliers_read"]},
		"Benutzer":{url:"/users",permissions:["users_read"]},
		"Profil":{url:"/profile",loggedIn:true}
	}
	
	function isActive(path){
		return (location.pathname.indexOf(path) == 0)?"active":"";
	}
	
script(section="body").	
	create(){
		return Nav({
			className:"bs-navbar-collapse",
			role:"navigation",
			eventKey:0,
			id:"top"
		},Object.keys(menu).filter(function(name){
			var entry = menu[name];
			if(entry.loggedIn && !client.session) return false;
			if(entry.permissions && !client.hasPermissions(entry.permissions)) return false;
			return true;
		}).map(function(name){
			var entry = menu[name];
			return React.DOM.li({className:isActive(entry.url)?"active":""},
				React.DOM.a({href:entry.url},name)
			)
		}))
	}
	
	logout(){
		client.deleteSession(function(){
			location.reload();
		})
	}
