Navbar(componentClass="header" brand=this.brand() className="bs-docs-nav" staticTop role="banner" toggleNavKey=0)
    = this.create()
main.
    var Navbar = require("react-bootstrap/Navbar");
    var Nav = require("react-bootstrap/Nav")
    var menu = {
        "/equipment":"Equipment",
        "/users":"Benutzer"
    };
    
    exports.brand = function(){
        return React.DOM.a({href:"/"},React.DOM.img({src:"/public/logo.png"}))
    }
    
    exports.create = function(){
        return Nav({
            className:"bs-navbar-collapse",
            role:"navigation",
            eventKey:0,
            id:"top"
        },Object.keys(menu).map(function(link){
            return React.DOM.li({className:isActive(link)?"active":""},
                React.DOM.a({href:link},menu[link])
            )
        }))
    }
    
    function isActive(path){
        console.log(location.pathname);
        return (location.pathname.indexOf(path) == 0)?"active":"";
    }
