Navbar(componentClass="header" brand=this.brand() className="bs-docs-nav "+(this.state.hidden?"hidden":"") fixedTop role="banner" toggleNavKey=0)
    = this.create()
    if client.session
        .session
            | Eingeloggt als
            b= " "+client.session.user.firstname+" "+client.session.user.lastname
            br
            .btn.btn-danger.pull-right(onClick=this.logout)
                .glyphicon.glyphicon-log-out
                |  Ausloggen
script.
    var Navbar = require("react-bootstrap/Navbar");
    var Nav = require("react-bootstrap/Nav");
    var Button = require("react-bootstrap/Button");
    var client = require("../client.js");
    
    var menu = {
        "Equipment":{url:"/equipment",permissions:["equipment_read"]},
        "Projekte":{url:"/projects",permissions:["projects_read"]},
        "Zumieten":{url:"/rentals",permissions:["rentals_read"]},
        "Kunden":{url:"/customers",permissions:["customers_read"]},
        "Zulieferer":{url:"/suppliers",permissions:["suppliers_read"]},
        "Benutzer":{url:"/users",permissions:["users_read"]},
        "Profil":{url:"/profile",loggedIn:true},
        "Elektronik":{url:"/electronic",loggedIn:true}
    }
    
    exports.getInitialState = function(){
        return {visible:true};
    }
    
    exports.brand = function(){
        return React.DOM.a({href:"/"},React.DOM.img({src:"/public/logo.png"}))
    }
    
    exports.create = function(){
        return Nav({
            className:"bs-navbar-collapse",
            role:"navigation",
            eventKey:0,
            id:"top"
        },Object.keys(menu).filter(function(name){
            var entry = menu[name];
            if(entry.loggedIn && !client.session) return false;
            if(entry.permissions && !client.hasPermissions(entry.permissions)) return false;
            return true;
        }).map(function(name){
            var entry = menu[name];
            return React.DOM.li({className:isActive(entry.url)?"active":""},
                React.DOM.a({href:entry.url},name)
            )
        }))
    }
    
    exports.logout = function(){
        client.deleteSession(function(){
            location.reload();
        })
    }
    
    exports.componentDidMount = function(){
        var start = 0;
        document.body.addEventListener("touchstart",function(e){
            start = e.touches[0].clientY;
            document.body.addEventListener("touchmove",onMove);            
        });
        document.body.addEventListener("touchend",function(){
            document.body.removeEventListener("touchmove",onMove);
        })
        
        var onMove = function (e){
            var up = start-e.touches[0].clientY > 0;
            this.state.hidden = up;
            this.forceUpdate();
        }.bind(this);
    }
    
    function isActive(path){
        return (location.pathname.indexOf(path) == 0)?"active":"";
    }
