extends ./profile.jade

append properties
    if this.state.user
        h4 Berechtigungen
        each permission,key in this.state.user.permissions
            if client.hasPermission(key)
                div
                    label
                        input(type="checkbox" checked=permission.allowed onChange=this.togglePermission(permission))
                        = " "+permission.name
script.
    var client = require("../client.js");
    Component.hideBackButton = false;
    
script(section="body").
    getNeededPermissions(){
        return ["users_read"];
    }
    
    getContactId(){
        return this.props.params.user;
    }    
        
    loadContact(){
        super.loadContact();
        client.getUser(this.getContactId(),function(err,user){
            if(err) return;
            this.state.user = user;
            this.update();
        }.bind(this));
    }
    
    cancel(){
        history.back();
    }
    
    togglePermission(permission){
        return function(e){
            permission.allowed = e.target.checked;
            this.update();
        }.bind(this);        
    }
    
    onSaved(){
        var permissions = {};
        for(var permission in this.state.user.permissions){
            permissions[permission] = this.state.user.permissions[permission].allowed;
        }
        
        client.saveUser(this.state.user._id,{
            permissions:permissions
        },function(err){
            if(err) return true;
            history.back();
        });
    }
