extends ./main

append body
    .container
        h2 Benutzer
        table.table.table-striped
            thead
                tr
                    th Name
                    th Rechte
                    th Letze Aktivität
            tbody
                tr
                    td Admin
                    td Admin
                    td
                        | 12.12.2014 12:34:12
                        button.btn.btn-default.btn-xs
                            i.glyphicon.glyphicon-trash
