extends ./base.jade

append body
    .container
        h2
            | Benutzer
            CreateContactButton(callback=this.create)
        table.table.table-striped
            thead
                tr
                    th Name
            tbody
                each user in this.state.users
                    tr(onClick=this.edit(user))
                        td
                            = (user.firstname?user.firstname+" ":"")+(user.lastname||"")
                            button.btn.btn-default.btn-xs.pull-right(onClick=this.delete(user))
                                i.glyphicon.glyphicon-trash
script.
    var client = require("../client.js");
    var CreateContactButton = require("./CreateContactButton.jade");
    
    exports.getNeededPermissions = function(){
        return ["users_read"];
    }
    
    exports.componentDidMount = function(){
        this.findUsers();
    }
    
    exports.findUsers = function(){
        client.findUsers({},function(err,users){
            if(err) return;
            this.state.users = users;
            this.update();
        }.bind(this))
    }
    
    exports.create = function(){
        client.createUser(id,function(err){
            if(err) return;
            visit("/users/"+id);
        });
    }
    
    exports.edit = function(user){    
        return function(e){
            if(e.target.tagName == "I" || e.target.tagName == "BUTTON") return;
            visit("/users/"+user._id)
        }        
    }
    
    exports.delete = function(user){
        var self = this;
        return function(){
            client.deleteUser(user._id,function(err){
                delete self.state.users;
                self.update();
            });
        }
    }
    
    
