doctype html
html
    head
        title Stutz Event Lighting
        meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
        link(rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
        link(rel="stylesheet" type="text/css" href="/public/style.css")
        link(rel="stylesheet" type="text/css" href="/public/react-select/default.css")
        link(rel="stylesheet" type="text/css" href="/public/react-widgets/css/react-widgets.css")
    body
        script!= "var data = "+JSON.stringify(data)+";"
        script(src='/main.js')
