doctype html
html
    head
        title Stutz Event Lighting
        meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
        link(rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css")
        link(rel="stylesheet" type="text/css" href="/public/style.css")
        link(rel="stylesheet" type="text/css" href="/public/react-select/default.css")
        link(rel="stylesheet" type="text/css" href="/public/react-widgets/css/react-widgets.css")
        link(rel="icon" href="/public/icon.png" sizes="48x48" type="image/png")
    body
        script!= "var data = "+JSON.stringify(data)+";"
        script(src='/main.js')
