@import url(./bootstrap/css/bootstrap.min.css);
@import url(./react-select/react-select.css);
@import url(./react-widgets/css/react-widgets.css);

.navbar{
    height:60px;
    border-radius:0px;
    top:0px;
}
.navbar-header{
    height:59px;
}
.navbar-nav > li{
    height:100%;
    margin-top:-1px;
}
.navbar-nav > li > a{
    padding:0;
    line-height:60px !important;
    padding-left:5px;
    padding-right:5px;
}
.navbar-nav > li.active > a{
    color:white !important;
    background-color:#6B8E00 !important;
}
.navbar img{
    height:50px;
    margin-top:-12px;
}

.session{
    position:absolute;
    right:10px;
    top:0px;
}

@media (max-width:768px){
    .session{
        right:75px;
    }
}

.container{
    position:relative;
}

.bs-navbar-collapse{
    background-color:#F8F8F8;
}


.searchbar{
    display:flex;
}
.searchbar > div{

}

@media print {
    .btn{
        display:none;
    }
    input, .rw-datetimepicker{
        border:none !important;
        box-shadow: none !important;
        outline: none !important;
        transition: none !important;
        padding-left:0px !important;
    }
    .rw-select{
        display:none;
    }
}
