Context(target=this.password)
	.form-horizontal
		Binding(name="password")
			FormGroup(label="Neues Passwort" labelClass="col-lg-2" wrapperClass="col-lg-10")
				Input(type="password")
		Binding(name="password2")
			FormGroup(label="Neues Passwort bestätigen" labelClass="col-lg-2" wrapperClass="col-lg-10")
				Input(type="password")
		.btn-toolbar.pull-right
			.btn.btn-primary(onClick=this.changePassword.bind(this)) Passwort speichern
script.
	var client = require("../client");
	var {Context,Binding} = require("react-bicon");
	var Input = require("./input");
	var FormGroup = require("./formgroup");
script(section="body").
	constructor(props,context){
		super(props,context);
		this.password = {password:"",password2:""};
	}	
	async changePassword(){
		if(!this.password.password.length) return alert("Bitte geben Sie ein neues Passwort ein");
		if(this.password.password != this.password.password2) return alert("Die Passwörter sind nicht gleich");        
		await client.setPassword(this.props.contact,this.password.password);
		this.password.password = this.password.password2 = "";
		this.forceUpdate();
	}
