input&attributes(this.props)&attributes({value:this.state.value,onChange:this.onChange.bind(this),onBlur:this.props.onChange,onFocus:this.onFocus.bind(this)})
script.
    var ReactDOM = require("react-dom");
script(section="body").
    constructor(props,context){
        super(props,context);
        this.state = {value:this.props.value}
    }
    componentWillReceiveProps(props){
        this.state.value = props.value;
    }
    onChange(e){
        this.state.value = e.target.value;
        this.forceUpdate();
    }
    onFocus(e){
        if(this.props.selectOnFocus){
            e.target.select();
        }
        if(this.props.onFocus) this.props.onFocus(e);
    }
