div(onClick=this.scan.bind(this) className="btn btn-default "+this.props.className)
    i.glyphicon.glyphicon-facetime-video
    if this.state.scan
        Quagga(onScan=this.onScan.bind(this))
script.
    var Quagga = require("./Quagga")
script(section="body").
    constructor(props,context){
        super(props,context);
        this.state = {};
    }
    
    scan(){
        this.state.scan = true;
        this.forceUpdate();
    }
    
    onScan(code){
        setTimeout(function(){
            this.state.scan = false;
            this.forceUpdate();
            setTimeout(function(){
                if(this.props.onScan) this.props.onScan(code);
            }.bind(this),100);
        }.bind(this),100)
        
    }
