extends ./base

append body
    .container
        h2
            | Benutzer
            CreateContactButton(callback=this.create.bind(this))
        table.table.table-striped
            thead
                tr
                    th Name
            tbody
                each user in this.state.users
                    tr(onClick=this.edit.bind(this,user))
                        td
                            = (user.firstname?user.firstname+" ":"")+(user.lastname||"")
                            button.btn.btn-default.btn-xs.pull-right(onClick=this.delete.bind(this,user))
                                i.glyphicon.glyphicon-trash
script.
    var client = require("../client");
    var CreateContactButton = require("./CreateContactButton");
script(section="body").    
    getNeededPermissions(){
        return ["users_read"];
    }
    
    constructor(props,context){
        super(props,context);
        this.findUsers();
    }
    
    async findUsers(){
        this.state.users = await client.findUsers({});
        this.update();
    }
    
    async create(id){
        await client.createUser(id);
        visit("/users/"+id);
    }
    
    edit(user,e){    
        if(e.target.tagName == "I" || e.target.tagName == "BUTTON") return;
        visit("/users/"+user._id)  
    }
    
    async delete(user){
        await client.deleteUser(user._id);
        this.findUsers();
    }
    
    
