extends ./profile

append properties
    if this.state.user
        h4 Berechtigungen
        each permission,key in this.state.user.permissions
            if client.hasPermission(key)
                div
                    label
                        input(type="checkbox" checked=permission.allowed onChange=this.togglePermission.bind(this,permission))
                        = " "+permission.name
script.
    var client = require("../client");
    Component.hideBackButton = false;
    
script(section="body").
    getNeededPermissions(){
        return ["users_read"];
    }
    
    getContactId(){
        return this.props.user;
    }    
        
    async loadContact(){
        super.loadContact();
        this.state.user = await client.getUser(this.getContactId());
        this.forceUpdate();
    }
    
    cancel(){
        history.back();
    }
    
    togglePermission(permission,e){
        permission.allowed = e.target.checked;
        this.forceUpdate();     
    }
    
    async onSaved(){
        var permissions = {};
        for(var permission in this.state.user.permissions){
            permissions[permission] = this.state.user.permissions[permission].allowed;
        }
        
        await client.saveUser(this.state.user._id,{
            permissions:permissions
        });
        history.back();
    }
