.btn-group
    each value,option in this.props.options
        - console.log(value,this.state.value)
        button(onClick=this.select(option) className=("btn "+(this.state.value==value?"btn-primary":"btn-default")))= option
main.
    exports.getInitialState = function(){
        return {value:this.props.value||this.props.options[Object.keys(this.props.options)[0]]}
    }
    
    exports.select = function(option){
        return function(){
            this.state.value = this.props.options[option];
            this.props.onChange(this.state.value);
            this.forceUpdate();
        }.bind(this)
    }
